<div ng-include="'/template/header.html'"></div>
<div class="container">
    <div class="jumbotron">
        <div class="alert alert-success" id="divAlert"><button type="button" class="close" data-dismiss="alert"><span >&times;</span></button>{{msg}}</div>
        <div class="row">
            <div class="col-md-4">
                <p>个人头像</p>
                <form id="uploadForm" name="uploadForm" method="post" enctype="multipart/form-data">
                    <img src="{{filePath}}" width="200" height="200"><br><br>
                    <p>{{ fileName }}</p>
                    <input type="file" id="f" name="uploadFile" ng-click="clearItems()" nv-file-select uploader="uploader" class="hidden">
                    <button class="btn btn-default" onclick="f.click()">选择图片</button>
                    <button class="btn btn-default" ng-click="uploadFile()">上传图片</button>
                </form>
            </div>
            <div class="col-md-8"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="modifyPicModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">选择图片区域</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" id="cropAlert"></div>
                <img ng-src="{{filePath}}" id="target" class="img-responsive center-block" >
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="cropPic()" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->